.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.special-font {
  font-family: 'DotGothic16';
  font-size: 50px;
  color: #089792;
}

.special-font-subheader {
  font-family: 'DotGothic16';
  font-size: 20px;
  color: #074947;
}